@CHARSET "UTF-8";
@font-face {
    font-family: 'NanumSquare';
    font-weight: 300; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/NanumSquare_acL.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'NanumSquare';
    font-weight: 400; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/NanumSquare_acR.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'NanumSquare';
    font-weight: 500; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/NanumSquare_acB.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'NanumSquare';
    font-weight: 700; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/NanumSquare_acEB.woff2) format('woff2');
    font-display: swap;
}

html, body {
	font-family: 'NanumSquare';
	padding: 0;
	margin: 0;
}
input, textarea, pre {
	font-family: 'NanumSquare';
	border: none;
}
ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}
p {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: #000;
}
h1 {
	font-size: 36px;
	font-weight: bold;
}
h2 {
	font-size: 30px;
	font-weight: bold;
}
h3 {
	font-size: 26px;
	font-weight: bold;
}
h4 {
	font-size: 22px;
	font-weight: bold;
}
h5 {
	font-size: 18px;
	font-weight: bold;
}
h6 {
	font-size: 12px;
	font-weight: bold;
}
table {
	width: 100%;
	background: #fff;
	border-spacing: 0;
}
form, input {
	width: 100%;
}
button, textarea {
	border: none;
}
textarea {
	width: 100%;
	background: transparent;
}
input {
	background: transparent;
}


/*공통 클래스*/
.flex {
	display: flex;
}
.flex-align {
	display: flex;
	align-items: center;
}
.flex-wrap {
	display: flex;
	flex-wrap: wrap;
}
.flex-center {
	display: flex;
	align-items: center;
    justify-content: center;
}
.flex-between-center {
	display: flex;
	align-items: center;
    justify-content: space-between;
}
.txt-center {
	text-align: center;
}
.mb5 {
	margin-bottom: 5px;
}
.mb10 {
	margin-bottom: 10px;
}
.mt5 {
	margin-top: 5px;
}
.mt10 {
	margin-top: 10px;
}
.mt40 {
	margin-top: 40px;
}
.mr10 {
	margin-right: 10px;
}
.mr20 {
	margin-right: 20px;
}
.w100 {
	width: 100%;
}
.point_c {
	color: #fa6616;
}
.title_bg {
    color: #000;
}
.bd_bt {
	border: none;
	border-bottom: 1px solid #a1a1a1;
	height: 50px;
}
.pointer_btn {
	background: #fa6616;
	color: #fff;
	width: 80px;
    height: 30px;
}
.default_btn {
	background: #000;
	color: #fff;
	width: 80px;
    height: 30px;
}
.wrapper {
	margin-top: 3rem;
}
.sub_txt {
	font-size: 14px;
	color: #666;
}
.bold {
	font-weight: bold;
}
.keyword_input {
	border: 1px solid;
}
.star {
	width: 20px;
}
.transparent {
	background: transparent;
}

/*top*/
header {
	display: flex;
    width: 100%;
    height: 80px;
    background-color: #38414a;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    box-sizing: border-box;
}
.admin_top {
	width: 100%;
	font-size: 30px;
    font-weight: bold;
    color: #fff;
}
.admin_top a {
	font-size: 30px;
    color: #fff;
}
.admin_top li,
.admin_top li a {
	font-size: 20px;
    color: #fff;
}
.admin_top li {
	margin-left: 10px;
}

/*bottom*/
footer {
	background: #30343b;
	color: #fff;
}
.footer {
	max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 0;
}
.footer .company_name {
	margin: 0;
    margin-bottom: 2rem;
}

/*main*/
main {
	display: flex;
}
aside {
	width: 240px;
}
aside .aside_inner {
	padding: 20px 0 0;
	height: 100vh;
}
aside .aside_inner ul li {
	padding: 15px 20px;
    
}
aside .aside_inner ul li a {
	color: #6e768e;
}
aside .aside_inner ul li a:hover,
aside .aside_inner ul li.active a {
	color: #007bff;
	font-weight: bold;
}
.main {
	display: flex;
	width: 100%;
	background-color: #f8f9fa;
}

/*container*/
.container.login {
	width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
}
.container.admin {
    width: 100%;
    min-height: 450px;
    margin: 0 auto;
    padding: 5rem 5rem 0 3rem;
    background: #eee;
}
.container.admin_main {
	width: calc(100% - 240px);
	background: #eee;
}
.container.admin_main img {
	width: 100%;
}
.container_title {
	text-align: center;
	margin-top: 6rem;
}
.container.main {
	max-width: 100%;
	padding: 0;
}
.container.main img {
	width: 100%;
}
.main_img_wrap {
	width: 100%;
	height: 700px;
	background: url("../images/main1.jpg") 50% 100% no-repeat;
	background-size: cover;
}

/*pagination*/
.pagination ul {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.pagination ul .page_btn a {
	display: flex;
	justify-content: center;
	width: 20px;
	height: 20px;
	line-height: 20px;
	color: #a6a6a6;
	font-size: 14px;
}
.pagination ul .page_btn a.active {
	color: #fa6616;
    font-weight: bold;
}

/*login*/
.login_wrap {
	display: flex;
	justify-content: center;
    align-items: center;
	max-width: 500px;
    width: 100%;
    margin: 0 auto;
    height: calc(80% - 12rem);
}
.login_wrap input[type=text],
.login_wrap input[type=password] {
	width: 100%;
	border: none;
	border-bottom: 1px solid #a1a1a1;
	height: 50px;
}
.login_wrap input[type=submit] {
	width: 100%;
	height: 50px;
	background: #fa6616;
	color: #fff;
	font-weight: bold;
	border-radius: 3px;
	margin-top: 30px;
}


/*modify*/
.modify_wrap {
	margin-top: 4.5rem;
}
.modify_wrap form {
	display: flex;
    justify-content: center;
	width: 300px;
    height: 300px;
    border-radius: 10px;
    margin: 0 auto;
}
.modify_wrap form.myinfo {
	background: #FECD70;
}
.modify_wrap form.mydrop {
	background: #FFAE6D;
}
.modify_wrap form.myorder {
	background: #F3E0B5;
}
.modify_wrap input[type=submit] {
	width: 100%;
	background: none;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
}

/*회원정보수정*/
.left_table,
.user_delete_wrap {
	width: 500px;
    margin: 0 auto;
    margin-top: 3rem;
    padding-bottom: 2rem;
}
.left_table input[type=text],
.user_update_wrap input[type=password] {
	width: 100%;
	height: 40px;
	padding-left: 0.5rem;
}
.findAddr_btn {
	width: 100px;
    height: 30px;
}

/*회원탈퇴*/
.user_delete_wrap input {
	height: 40px;
}

/*주문리스트*/
.empty_tbl,
.jmtc_tbl {
	border-bottom: 1px solid #fa6616;
}
.empty_tbl th,
.jmtc_tbl th {
	background: #fa6616;
	font-weight: normal;
	color: #fff;
	height: 40px;
}
.empty_tbl td,
.jmtc_tbl td {
	height: 40px;
}
.jmtc_tbl .content {
	text-align: center;
}
.jmtc_tbl .content td {
	border-bottom: 1px solid #eee;
}

/*상품*/
.product_list_wrap {
	padding-bottom: 5rem;
}
.product_list_wrap .item {
	width: 33.33%;
}
.product_list_wrap .item img {
	width: 280px;
	height: auto;
}
.product_list_wrap .item .thumb_img {
	height: 300px;
}
.product_list_wrap .pd_name {
	padding: 0.5rem 2rem;
	background: #fa6616;
	color: #fff;
}
.pd_detail_wrap {
	width: 500px;
    margin: 3rem auto;
}
.pd_detail_wrap .thumb_img {
	width: 400px;
}
.pd_detail_wrap .thumb_img img {
	width: 100%;
}
.pd_update_wrap {
	width: 500px;
    margin: 3rem auto;
}
.pd_update_wrap .thumb_img {
	width: 400px;
}
.pd_update_wrap .thumb_img img {
	width: 100%;
}


/*notice*/
.notice .impo {
	background: #fff7f0;
	color: #fa6616;
}
.notice .impo .title > a {
	color: #fa6616;
}

/*shop*/
.td-w {
	width: 33.33%;
}

/*cart*/
.cart_thumb {
	width: 100px;
}
.cart_thumb img {
	width: 100%;
}

/*라디오버튼*/
.radio_wrap {
    display: flex;
    justify-content: space-between;
    width: 170px;
    margin: 0 auto;
}
.radio_wrap label {
	display: flex;
    align-items: center;
}
.radio_wrap input[type=radio] {
	width: 15px;
}